.navbar-item {
    margin-right: 30px;
    padding-top: 10px;
}

a {
    color: white;
}

h5 {
    letter-spacing: 3px;
}
.lead {
    word-wrap: break-word
}
.jumbotronAbout {
    width: inherit !important;
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #24527a), url("./assets/background1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.sidebar a {
    margin-right:10px;
    color: black !important;
}
.sidebar {
    height: 5vh;
    position: fixed !important;
    top:0;
    left:0;
    width:100%;
    background:white;
    color: black !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/* .hideOnMob {
        display: none;
    } */

@media only screen and (min-width: 0px) and (max-width: 600px) {
    [class*="col-"] {
        width: 100% !important;
    }

    .hideOnMob {
        display: none !important;
    }

    .showOnMob {
        display: flex ;
    }

    .imgIcons {
        width: 100%;
        height: 60%;
    }
    .imgIconHeadWeb {
        color:white;
        font-weight: normal;
        font-size: 10px;
        text-align: center;
    }
    #modalBody {
        top:0px;
        width: 100% !important;
    }

}

@media screen and (min-width: 600px) {
    
    .hideOnMob {
        display: flex !important;
    }

    .showOnMob {
        display: none !important;
    }
    .imgIcons {
        width: 70%;
        height: 70;
    }
    .imgIconHeadMob {
        color:white;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
    #modalBody {
        top:0px;
        width: 60% !important;
    }
}

.active {
    color: #24527a !important;
}
/* The Modal (background) */
.modal {
position: fixed; /* Stay in place */
z-index: 99999999; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#myModal {
display: none; /* Hidden by default */
}

#modalBody {
top: 10px;
transition: top 0.5s;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: auto auto; /* 15% from the top and centered */
padding: 5%;
border: 1px solid #888;
width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
a {
    cursor: pointer;
    color: #fefefe !important;
}